adpcm
bs
bsort100
cnt
compress
cover
crc
duff
edn
expint
fac
fdct
fft1
fibcall
fir
insertsort
janne_complex
jfdctint
lcdnum
lms
ludcmp
matmult
minver
ndes
ns
nsichneu
prime
qsort-exam
qurt
recursion
select
sqrt
st
ud
