doc/avoptions_codec.texi
doc/avoptions_format.texi
doc/fate.txt
doc/ffmpeg-bitstream-filters.1
doc/ffmpeg-bitstream-filters.pod
doc/ffmpeg-codecs.1
doc/ffmpeg-codecs.pod
doc/ffmpeg-filters.1
doc/ffmpeg-filters.pod
doc/ffmpeg-formats.1
doc/ffmpeg-formats.pod
doc/ffmpeg-protocols.1
doc/ffmpeg-protocols.pod
doc/ffmpeg-resampler.1
doc/ffmpeg-resampler.pod
doc/ffmpeg-scaler.1
doc/ffmpeg-scaler.pod
doc/ffmpeg-utils.1
doc/ffmpeg-utils.pod
doc/ffserver.1
doc/ffserver.pod
doc/libavcodec.3
doc/libavcodec.pod
doc/libavfilter.3
doc/libavfilter.pod
doc/libavformat.3
doc/libavformat.pod
doc/libavutil.3
doc/libavutil.pod
doc/libswresample.3
doc/libswresample.pod
doc/libswscale.3
doc/libswscale.pod
doc/print_options
ffserver
ffserver_g
